.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;


	.frame__title {
		font-size: 1rem;
		margin: 0 0 1rem;
		font-weight: normal;
	}

	.frame__links {
		display: inline;
	}

	.frame a {
		text-transform: lowercase;
	}

	.frame__github,
	.frame__links a:not(:last-child),
	.frame__demos a:not(:last-child) {
		margin-right: 1rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: calc(100vh - 13rem);
		position: relative;
		justify-content: flex-start;
		align-items: center;
	}

	@media screen and (min-width: 53em) {
		.frame {
			position: fixed;
			text-align: left;
			z-index: 10000;
			top: 0;
			left: 0;
			display: grid;
			align-content: space-between;
			width: 100%;
			max-width: none;
			height: 100vh;
			padding: 3rem;
			pointer-events: none;
			grid-template-columns: 75% 25%;
			grid-template-rows: auto auto auto;
			grid-template-areas: 'title links'
				'... ...'
				'github demos';
		}

		.frame__title-wrap {
			grid-area: title;
			display: flex;
		}

		.frame__title {
			margin: 0;
		}

		.frame__tagline {
			position: relative;
			margin: 0 0 0 1rem;
			padding: 0 0 0 1rem;
			opacity: 0.5;
		}

		.frame__github {
			grid-area: github;
			justify-self: start;
			margin: 0;
		}

		.frame__links {
			grid-area: links;
			padding: 0;
			justify-self: end;
		}

		.frame a {
			pointer-events: auto;
		}

		.content {
			height: 100vh;
			justify-content: center;
		}
	}
}